
<div class="row row-cards-tipo">
        <div class="card col card-tipo" (click)="direct('pedido')">
            Pedidos
        </div>
        <div class="card col card-tipo" (click)="direct('produto')">
            Produtos
        </div>
        <div class="card col card-tipo" (click)="direct('estoque')">
            Estoque
        </div>
</div>



<!--produtos -->
<div class="card col-md-8 col-sm-8 card-produto" *ngIf="ifTipo('produto')">
    <h5>Novo Produto</h5>
    <div class="row">
        <div class="form-group col-6">
            <label for="nome">Nome</label>
            <input type="text" [(ngModel)]="newNomeProduto" class="form-control">
        </div>
    
        <div class="form-group col-4">
            <label for="nome">Valor</label>
            <input type="text" [(ngModel)]="newValueProduto" class="form-control">
        </div>
        <div class="form-group col-2 button-criar-produto">
            <button class="btn btn-primary" (click)="newProduct(newNomeProduto, newValueProduto)">Criar</button>
        </div>  
    </div>
    
    <div class="row row-edit">
        <ul class="list-group">
            <li class="list-group-item" >
          
                <div class="row" *ngIf="!ifEdit(index)">
                    id:{{product.id}} - {{product.nome}} - qtd: {{product.valor}} - 
                    estoque: gondola. {{produto.estoque.gondola}} -
                    real.{{produto.estoque.real}}
                    <button class="btn btn-primary" (click)="edit(index)">editar</button>
                </div>
                <div class="row " *ngIf="ifEdit(index)">
                    <div class="form-group col-6">
                        <label for="nome">nome</label>
                        <input type="text" [(ngModel)]="newNameProduto" class="form-control">
                    </div>
          
                    <div class="form-group col-2">
                        <label for="nome">valor</label>
                        <input type="text" [(ngModel)]="newValorProduto" class="form-control">
                    </div>

                    <div class="form-group button-actions col-4">
                            <button class="btn btn-primary" (click)="
                            editForContext(newNameProduto,newValorProduto,product.id)"
                            >editar</button>
                            <button class="btn btn-warning" (click)="editForContext(product.id, 'produto')">
                                deletar</button>
                    </div>
                   
                </div>
            </li>
          </ul>
    </div>
</div>

<!--Estoque -->
<div class="card col-md-8 col-sm-8 card-produto" *ngIf="ifTipo('estoque')">
    
    <h5>Estoque</h5>
    <div class="row row-edit">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let stock of stocks; let index = index">
          
                <div class="row" *ngIf="!ifEdit(index)">
                    id:{{stock.id }} - gondola: {{stock.gondola}} - real: {{stock.gondola}}
                    <button class="btn btn-primary" (click)="edit(index)">editar</button>
                </div>
                <div class="row" *ngIf="ifEdit(index)">
                    <div class="form-group col-6">
                        <label for="nome">Gondola</label>
                        <input type="number" [(ngModel)]="newGondola" class="form-control">
                    </div>
          
                    <div class="form-group col-2">
                        <label for="nome">Real</label>
                        <input type="number" [(ngModel)]="newReal"  class="form-control">
                    </div>

                    <div class="form-group button-actions col-4">
                            <button class="btn btn-primary" (click)="editForContext(newGondola,newReal, product.id)">editar</button>
                            <button class="btn btn-warning" (click)="editForContext(stock.id, 'estoque')">deletar</button>
                    </div>
                    
                </div>
            </li>
          </ul>
    </div>
</div>


<!-- pedido -->
<div class="card col-md-8 col-sm-8 card-produto" *ngIf="ifTipo('pedido')">
    
        <h5>Pedido</h5>
        <div class="row row-edit">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let product of products; let index = index">
              
                    <div class="row" *ngIf="!ifEdit(index)">
                                id:{{product.id}} - {{product.nome}} - qtd: {{product.valor}} - 
                                estoque: gondola. {{produto.estoque.gondola}} -
                                real.{{produto.estoque.real}}
                        <button class="btn btn-primary" (click)="addProducts(index, product)">add</button>
                     </div>
                </li>
              </ul>
        </div>
</div>



