.card-produto{
    padding: 10px;
    margin: auto;
    margin-top: 20px
}

.card-tipo{
    cursor:pointer;
    outline: none;
    margin: 10px;
    background: #007bff;
    color: #fff;
    text-align: center;
    max-width: 100px;
}

.row-cards-tipo{
    margin: auto;
    margin-top: 30px
}

.button-criar-produto{
    margin-top: 30px
}

.row-edit{
    margin: auto;
}

.button-actions{
    margin-top: 30px
}

.button-actions button{
    margin-right: 10px
}