<div class="card col-md-4 col-sm-4 card-login">
  
    <h4>Login</h4>
    <div class="form-group">
      <label >Usuario</label>
      <input type="text" [(ngModel)]="user"  class="form-control"
        placeholder="entre com seu usuario">
    </div>
    <div class="form-group">
      <label >Senha</label>
      <input type="password" [(ngModel)]="password" class="form-control" 
       placeholder="entre com sua senha">
    </div>
    <div class="row ">
      <div class="col text-center">
          <button [disabled]="!password || !user" class="btn btn-primary ">logar</button>

      </div>
    </div>
</div>



